@plugin "daisyui/theme" {
  name: "amethyst_dark";
  color-scheme: dark;

  --color-base-100: oklch(25% 0.03 260);
  --color-base-200: oklch(18% 0.03 260);
  --color-base-300: oklch(14% 0.04 260);
  --color-base-content: oklch(95% 0.01 260);
  --color-primary: oklch(70% 0.18 270);
  --color-primary-content: oklch(20% 0.08 270);
  --color-secondary: oklch(72% 0.2 300);
  --color-secondary-content: oklch(20% 0.08 270);
  --color-accent: oklch(85% 0.18 85);
  --color-accent-content: oklch(20% 0.04 85);
  --color-neutral: oklch(50% 0.02 260);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(72% 0.16 250);
  --color-info-content: oklch(25% 0.08 250);
  --color-success: oklch(75% 0.2 145);
  --color-success-content: oklch(25% 0.1 145);
  --color-warning: oklch(85% 0.18 85);
  --color-warning-content: oklch(25% 0.1 50);
  --color-error: oklch(70% 0.2 25);
  --color-error-content: oklch(25% 0.1 25);

  --radius-selector: 0.75rem;
  --radius-field: 0.5rem;
  --radius-box: 0.75rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
